body{
    background-color: darkkhaki;
}
h1 {
    color: black;
	text-align: center;
}
h4 {
    color: darkslateblue
}
h6 {
    color: darksalmon;
}

button.mainButton{
	background-color: rgb(112, 219, 143);
	border:rgb(from color 1 1 1);
	color: rgb(15, 30, 15);
	padding: 15px 15px;
	text-align: center;
	text-decoration: dotted;
	display: inline-block;
	font-size: 25px;
	margin: 15px 15px;
	cursor: pointer;
}
button {
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: pointer;
}

button:disabled {
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: not-allowed;
	opacity: 0.5;
}