body{
	text-align: center;
    background-color: darkkhaki;
	
}
h1 {
    color: black;
	text-align: center;
}
h4 {
    color: darkslateblue
}
h6 {
    color: darksalmon;
}

button.mainButton{
	background-color: rgb(112, 219, 143);
	border:rgb(from color 1 1 1);
	color: rgb(15, 30, 15);
	padding: 15px 15px;
	text-align: center;
	text-decoration: dotted;
	display: inline-block;
	font-size: 25px;
	margin: 15px 15px;
	cursor: pointer;
}
/* no prefix = component level setting */
button {
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: pointer;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:disabled {
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: not-allowed;
	opacity: 0.5;
}

/* not sure if i will use this one but good to have */
#treeCanvas {
	width: 100%;
	height: 500px;
	/* border: 1px solid black; */
	background-color: #f9f9f9;
}

.tree-node {
	font-size: 14px;
	dominant-baseline: middle;
	text-anchor: middle;
}

.treeContainer {
	font-family: 'Courier New', Courier, monospace;
	font-size: xx-large;
	font-weight: 900; /*heavy bold*/
	display: flex;
	justify-content: center;
	/* border: 1px solid black; */
	margin-bottom: 10px;
	margin-top: 30px;
	/* padding: 10 10 10 10; */
}

.partitionLevel0{
	color: #ff0000;
	stroke: #ff0000;
}
.textPartitionLevel0{
	color: #ff0000;
	stroke: #ff0000;
	fill: #ff0000;
}

.partitionLevel1{
	color: rgb(95, 100, 255);
	stroke: rgb(95,100,255);
	
}
.textPartitionLevel1{
	color: rgb(95, 100, 255);
	fill: rgb(95,100,255);
	stroke: rgb(95,100,255);
}

.partitionLevel2{
	color: green;
	stroke: green;
}
.textPartitionLevel2{
	color: green;
	stroke: green;
	fill: green;
}

.partitionLevel3{
	color: yellow;
	stroke:yellow;
}
.textPartitionLevel3{
	color: yellow;
	stroke:yellow;
	fill: yellow;
}

.partitionLevel4{
	color: cyan;
	stroke: cyan;
}
.textPartitionLevel4{
	color: cyan;
	stroke: cyan;
	fill: cyan;
}

.partitionLevel5{
	color: white;
	stroke: white;
}
.textPartitionLevel5{
	color: white;
	stroke: white;
	fill: white;
}

.partitionLevelBlack{
	color: black;
	stroke: black;
}
