body {
    background-color: rgba(233, 157, 157, 0.949);
	text-align: center;
}
h1 {
    color: black;
}
h4 {
    color: darkslateblue
}
h6 {
    color: darksalmon;
}
button {
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 15px;
  	padding: 5px 10px 5px 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}