body {
    background-color: rgba(233, 157, 157, 0.949);
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: black;
}
h4 {
    color: darkslateblue
}
h6 {
    color: darksalmon;
}
button {
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 15px;
  	padding: 5px 10px 5px 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover:enabled {
	background-color: yellow;
	border:rgb(from color 1 1 1);
	color: darkgreen;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 15px;
  	padding: 5px 10px 5px 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:disabled{
	background-color: lightyellow;
	border:rgb(from color 1 1 1);
	color: rgba(0, 100, 0, 0.4);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 5px 5px;
	cursor: pointer;
	border-radius: 15px;
  	padding: 5px 10px 5px 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.redline{
	stroke: red;
	fill:red;
}
.blueline{
	stroke: rgb(95, 100, 255);
	fill: rgb(95, 100, 255);
}
.greenline{
	stroke: green;
	fill: green;
}
.yellowline{
	stroke: yellow;
	fill: yellow;
}
.cyanline{
	stroke: cyan;
	fill: cyan;
}
.whiteline{
	stroke: white;
	fill: white;
}

.redlineDull{
	stroke: rgba(255, 0, 0, 0.2);
	fill:rgba(255, 0, 0, 0.2);
}
.bluelineDull{
	stroke: rgba(95, 100, 255, 0.2);
	fill: rgba(95, 100, 255, 0.2);
}
.greenlineDull{
	stroke: rgba(0, 128, 0, 0.2);
	fill: rgba(0, 128, 0, 0.2);
}
.yellowlineDull{
	stroke: rgba(255, 255, 0, 0.2);
	fill: rgba(255, 255, 0, 0.2);
}
.cyanlineDull{
	stroke: rgb(0, 255, 255, 0.2);
	fill: rgb(0, 255, 255, 0.2) ;
}
.whitelineDull{
	stroke: rgba(255, 255, 255, 0.2);
	fill: rgba(255, 255, 255, 0.2);
}

/* for dynamic prompts... in main there is static prompts.  */
.tooltip {
	position: absolute;
	background: rgba(254, 254, 254, 0.8);
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
	z-index: 1000;
	max-width: 200px;
	font-size: 14px;
	animation: fadeIn 0.5s ease-out;
  }
  
  .tooltip-arrow {
	opacity: 80%;
	position: absolute;
	width: 0;
	height: 0;
  }
  
  .tooltip .close-btn {
	position: absolute;
	top: 2px;
	right: 5px;
	cursor: pointer;
	font-size: 14px;
	color: #666;
  }

  @keyframes fadeIn {
	from { opacity: 0; transform: translateY(-15px); }
	to   { opacity: 1; transform: translateY(0); }
  }