body {
  background-color: lightgray;
}
h1 {
  margin-top: 5%;
  color: darkblue;
  margin-bottom: 1%;
}
h6 {
  color: blue;
}

h4{
  margin-top: 1%;
}
#bar-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
  height: 200px;
  /* border: 1px solid #ccc; */
  border: 0px solid #21a86b;
}

#bar-container2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
  height: 200px;
  /* border: 1px solid #ccc; */
  border: 0px solid #c2861e;
}

#bar-container3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
  height: 200px;
  /* border: 1px solid #ccc; */
  border: 0px solid #c2861e;
}

#bar-container4 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-top: 10px;
  height: 200px;
  /* border: 1px solid #ccc; */
  border: 0px solid #c2861e;
}

.bar {
  width: 30px;
  background-color: steelblue;
  text-align: center;
  color: white;
  font-size: 12px;
  align-items: center;
}